<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h1>Mahjong-reCAPTCHA</h1>
      <p class="lead"><%= t('view.IS_A_FREE_ANTI_BOT_SERVICE_THAT_HELPS') %> <br /> <%= t('view.MAHJONG_PAI_IMAGE_ANALAYZE') %></p>
    </div>
  </div>
</header>
<section id="what_is">
    <img src="/images/mjrecaptcha.png" width="500"/>
	<div class="row">
		<div class="span12">
			<h1><%= t('layout.what_is') %></h1>
			<div class="contents">
				<h3>MJ-reCAPTCHA</h3>
				<p>
                <%= t('view.what_is_01') %> <br />
                <%= t('view.what_is_02') %> <br />
                <%= t('view.what_is_03') %> 
				</p>
			</div>
		</div>
	</div>
</section>
<section id="how_to">
    <br />
    <br />
	<div class="row">
		<div class="span12">
			<h1><%= t('layout.how_to') %></h1>
			<div class="contents">
				<h3><%= t('view.how_to_wp_plugin') %></h3>
				<p><%= t('view.how_to_wp_plugin_01') %><br />
				   <%= t('view.how_to_wp_plugin_02') %><br />
				   <%= t('view.how_to_wp_plugin_03') %><br />
				   <%= t('view.please_see') %> <a href="https://github.com/syokenz/wp-mjrecaptcha">https://github.com/syokenz/wp-mjrecaptcha</a>
				</p>
                <h3><%= t('view.how_to_rack') %></h3>
				<p><%= t('view.how_to_rack_01') %><br />
				   <%= t('view.how_to_rack_02') %><br />
				   <%= t('view.please_see') %>  <a href="https://github.com/ginok/mjrecaptcha">https://github.com/ginok/mjrecaptcha</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section id="login">
    <br />
    <br />
	<div class="row">
		<div class="span4">
      <%= form_for :session, url: signap.session_path, html: {class:"well form-search"} do |f| %>
        <h1><%= t('layout.login') %></h1>
        <%= f.text_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.button t('view.go'), class: "btn" %>
      <% end %>
		</div>
	</div>
</section>

<p class="pull-right"><a href="#top"><%= t('view.back_to_top') %></a></p>

<script src="/assets/jquery.smooth-scroll.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/bootswatch.js"></script>
