<!DOCTYPE html>
<!-- saved from url=(0030)http://bootswatch.com/amelia/# -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Mjrecaptcha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sweet and cheery.">
  <meta name="author" content="Thomas Park">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 0px;">

<!-- <script src="../js/bsa.js"></script> -->
<!-- Navbar
    ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="">MJ-reCAPTCHA</a>
      <div class="nav-collapse collapse" id="main-menu">
       <ul class="nav" id="main-menu-left">
         <li><a href="#what_is">WHAT IS MJ-reCAPTCHA?</a></li>
         <li><a href="#how_to">How to use?</a></li>
         <li><a href="#login">Log in</a></li>
         <li><%= link_to("Sign Up", signap.sign_up_path) %></li>
       </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">

<%= yield %>

<hr />
<footer id="footer">
        <div class="links">
        </div>
        Powered by Team MLFIE.<br>
</footer>
</div>
</body>
</html>
